.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #080303;
   
    border-radius: 52px;
    border-color: #050b03dd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .dateandbutton{
    width: 20%;
  }
  