/* Reset some default styles */
body, h1, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  
  .experience-card {
    max-width: 90%;
    margin: 2% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
  }
  
  
  .experience-header {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  .experience-header-card {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
  }
  
  .experience-header-card h1 {
    font-size: 1.5rem;
    color: #444;
    text-transform: uppercase;
  }
  
  /* Experience content styling */
  .experience-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .experience-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
  }
  
  .experience-company {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .experience-title {
    font-size: 1rem;
    font-weight: normal;
    color: #666;
  }
  
  .experience-duration {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    color: #999;
  }
  
  /* Icon styling */
  .icon {
    color: #888;
    font-size: 1.2rem;
  }
  