.header-card {
    max-width: 90%;
    margin: 5% auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
  }
  .header-card h1{
    font-size: 1.5rem;
    color: #444;
    text-transform: uppercase;
  }