.Profilesection{
    color: white;
    width: 60%;
    height: 92vh;
    background-color: black;
    border-radius: 1%;
    overflow-y: auto;
    margin-left: 1%;
    /* background-color: rgb(175, 167, 167); */
}