.Project{
    width: 100%;
    height: 30%;
    display: block;
}
.detailsname{
    width: 50%;
}
.projectsdetailsofdateandurl{
    display: flex;
    width: 100%;
    height: 100%;
    align-items:center;
}