.tabHeadingContainer{
    display: flex;
    margin-left: 1%;
    
}
.tabHeading{
    padding: 5px;
    border: 1px solid black;
}
.containerdata{
    display: flex;
    margin-left: 1%;
    width: 100%;
    height: 100%;
    background-color: grey;
    border: 1px solid black;

}