.Resume{
    width: 100%;
    height: 30%;
    background-color: blue;
    display: block;
}
.ResumeIntro{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
}
.ResumedownloadSection{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: red;
    justify-content: center;
    align-items: center;
}