.SkillsItemdiv{
    display: flex
;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}
.SkillsItemdiv2{
    display: flex
;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
.SkillsItemdiv span{
    color: blue;
    position: absolute;
    text-align: center;
    padding: 6px 14px;
    font-size: 1.2rem;
    font-weight: bold;
    
    text-transform: uppercase;
}

@media (max-width:600px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.3rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:1250px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 1.2rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:1160px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 1.1rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:1050px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 1rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:900px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.9rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:790px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.8rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:700px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.7rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:650px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.6rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:550px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.5rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}
@media (max-width:390px) {
    .SkillsItemdiv span{
        color: blue;
        position: absolute;
        text-align: center;
        padding: 6px 14px;
        font-size: 0.4rem;
        font-weight: bold;
        
        text-transform: uppercase;
    }
}